
#gameboard{
 border: 3px solid;  
}
#gamecontainer{
text-align: center;
}
#ScoreText{
    font-family:"permanent Marker",cursive;
    font-size: 100px;
}
#restbtn{
  font-family:"permanent Marker",cursive;
  font-size: 22px; 
  width: 100px;
  height: 50px;
  border: 4px solid;
  cursor: pointer;
  border-radius: 15px;
}